/* =====================================================================================================
Using Total Income as the basis for all back-end services going forward. It is a complete mess with base
styles for things like body and h1 being reset over and over and bits of bootstrap being overridden.

First set a few styles since we no longer have .page-wrapper
===================================================================================================== */
body {
    background: transparent url(//g.foolcdn.com/art/shop/newsletters/3991/hop-bg-gray.jpg) repeat scroll 0 0 / 10% auto;
}

.page {
    margin: 40px auto 20px;
    max-width: 900px;
    padding: 100px 10px 10px;
    background: white;
    overflow: hidden; /* clearfix */
}
.no-marketing-copy .page {
    margin-top: 10px;
}
@media only screen and (min-width: 480px) {
    .page {
        padding: 100px 30px 10px;
    }
    .no-marketing-copy .page {
        margin-top: 40px;
    }
}
@media only screen and (min-width: 768px) {
    .page {
        margin-top: 20px;
    }
    .no-marketing-copy .page {
        margin-top: 0;
    }
}
@media only screen and (min-width: 900px) {
    .page {
        margin-top: 110px;
        padding: 50px 60px 10px;
        border-radius: 12px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    }
    .no-marketing-copy .page {
        padding: 50px 60px 10px;
        margin-top: 110px;
    }
}


/* =====================================================================================================
First bring in all the styles from g.foolcdn.com/static/commerce-ui/oldpremium/css/SA/order-form.css
===================================================================================================== */
body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: .025em;
    color: #333;
}

.frame {
    margin: 0 auto;
    padding: 25px;
}

/* ORDER FORM STYLES */

#order-container .frame {
	max-width: 900px;
	padding-top: 1em;
	padding-bottom: 20px;
}

#offers fieldset {
    background-color: transparent;
    border: none;
}

#offers div.chosen {
    background-color: #FCFFF5;
    background-image: url('//g.foolcdn.com/art/shop/newsletters/shared/OP-select-Checkon-38.png');
    opacity: 1;
    box-shadow: 0 0 20px rgba(0, 131, 24, 0.2);
    border: 2px solid #138D1C;
}

#offers div.chosen {
    opacity: 1.0;
}

#offers label {
    color: #333;
    font-size: 25px
}

#offers div.details {
    font-size: 14px;
    padding-right: 35px;
}

#offers div.details span.currency {
    font-size: inherit;
}

div.form-header {
    background-color: #ffa;
    background-image: url(//g.foolcdn.com/art/new/shop/skins/guaranteed.gif);
    background-repeat: no-repeat;
    background-position: 98% 15px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 130%;
    margin: 30px 0 10px 0;
    padding: 10px 50px 10px 40px;
}

div.form-header h1 {
    color: #000;
    font-size: 28px;
    letter-spacing: normal;
    line-height: 1.33;
    margin: 0;
    text-align: left;
}

#order label.required:before,
#order #required-indicator:before {
    content: "* ";
}

#order #required-indicator {
    font-size: 11px;
}

#order h3 {
    color: #17a;
    font-weight: normal;
}

#order input[type=text] {
    padding-left: 5px;
    width: 100%;
}

#order label.optional {
    font-size: 85%;
    font-weight: normal;
}

#order label.inline.optional {
    padding-left: 10px;
}

#order fieldset {
    background-color: #fff;
    border-style: none;
    border-color: #ccc;
    border-width: 1px;
    padding-top: 20px;
    color: #000;
    font-weight: 400;
}

#order #credit-card select {
    width: auto;
}

#order #sign-out .email {
    display: block;
}

#order #sign-out p {
    font-size: 12px;
}

#order #email-address p {
    font-size: 12px;
}

p.form-field-explanation-link{
    padding: 26px 0 0 6px;
}

#offers {
    margin-bottom: 20px;
}

#offers .credit-table td {
    padding: 10px 0 0 10px;
}

#offers .credit-table th {
    padding: 10px 0 0 10px;
}

#offers .credit-table .credit-label {
    font-size: 13px;
}

#offers .credit-table .expandable-text {
    font-size: 12px;
}

#offers label {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    line-height: 1.25;
    width: 90%;
}

#offers label p.details {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    margin: 15px 15px 15px 0;
}

#offers div.details p.guarantee {
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px 0 0 20px;
}

#offers ul.disclaimers {
    margin-bottom: 1em;
    margin-top: 5px;
    padding-left: 20px;
}

#offers ul.disclaimers li {
    color: #333;
    font-size: 20px;
    line-height: 1.3;
    list-style-type: none;
    margin-bottom: 0.5em;
}

p.disclaimer {
    font-size: 11px;
    line-height: 14px;
}

.disclaimer p {
    color: #333;
    margin-bottom: 20px;
}

#offers div.offer {
    background-image: url('//g.foolcdn.com/art/shop/newsletters/shared/OP-select-Checkoff-dot-38.png');
    background-position: 12px 28px;
    background-repeat: no-repeat;
    border: 1px solid #999;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    color: #333;
    cursor: pointer;
    margin: 15px 0;
    opacity: 0.35;
    padding: 25px 0px 15px 50px;
}
@media screen and (min-width: 768px) {
    #offers div.offer {
        margin: 15px;
        padding: 25px 0 15px 70px;
        background-position: 14px 20px;
    }
}



#offers div.offer input {
    visibility: hidden;
}

#offers div.chosen {
    background-color: #fff;
    background-image: url('//g.foolcdn.com/art/shop/newsletters/50/check_on.png');
    opacity: 1.0;
}

#offers div.offer:hover {
    opacity: 1.0;
    -moz-transition: opacity 0.2s ease 0s;
    -webkit-transition: opacity 0.2s ease 0s;
    -o-transition: opacity 0.2s ease 0s;
}

#offers div.offer span.currency {
    font-size: 20px;
}

#offers div.offer sup {
    color: #6a6a6a;
    font-size: 10px;
    vertical-align: middle;
}

div#order-button {
    text-align: center;
    padding-bottom: 20px;
}

#submit-button {
    background-color: #27ae60;
    border-color: #27ae60;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 1em auto 0;
    padding: 15px 10px 13px;
    width: 11em;
    color: #fff;
}

#submit-button:hover {
    background-color: #fff;
    color:  #27ae60;
}

#submit-button.disabled {
    background-color: #ddd;
    color: #999;
}

#form-errors {
    padding: 0 0 25px 25px;
}

#form-errors h3 {
    color: #666;
    line-height: 1;
}

#form-errors ul {
    margin-top: 10px;
}

#guarantee {
    background-color: rgb(255, 250, 236);
    border: 1px dashed rgb(204, 153, 0);
    margin: 25px 0 20px 0;
    padding: 15px 15px 0 15px;
}

#guarantee img {
    display: block;
    float: right;
    height: 60px;
    text-align: center;
    width: 60px;
    margin: 0 0 0 5px;
}

#guarantee h3 {
    color: #8e6a00;
    margin: 0 0 5px;
}

#guarantee p {
    font: 15px/21px 'Open Sans', Helvetica, Arial, sans-serif;
}

.op-header {
    background-color: #000;
    background-repeat: repeat-x;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
    left: 0;
    min-height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}
.op-header .inner {
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
    padding-left: 0;
    position: relative;
}
.header-logo {
    float: left;
    padding-top: 6px;
    width: 190px;
}


@media (max-width: 700px) {
    #offers label {
    font-size: 1em;
    font-weight: 700;
    line-height: 1.25;
    width: 90%;
    }

    #offers div.details {
    font-size: .65em;
    line-height: 1.25em;
    margin-bottom: 1em;
    }

    #offers div.offer span.currency {
    font-size: 1em;
    }

    #offers div.offer li {
    margin-bottom: 1em;
    }

    #offers label p.details {
    font-size: 1em;
    font-weight: normal;
    line-height: 1em;
    margin: 1em;
    }
}

/* =====================================================================================================
Next bring in all the styles from commerce-ui/order_page/templates/order_page/product/total-income/default.html
===================================================================================================== */

        * {
            box-sizing: border-box;
        }
        body {
            background: transparent url("//g.foolcdn.com/art/shop/newsletters/3991/hop-bg-gray.jpg") repeat scroll 0 0 / 10% auto;
            font-family: "AvenirBook", Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 300;
            line-height: 1.222em;
            color: #333;
        }
        strong {
            font-family: "AvenirHeavy",arial,sans-serif;
        }
        #offers div.details p.guarantee {
            padding: 9px 10px 5px 25px;
        }
        .recommendation {
            margin-top: 30px;
            margin-bottom: 20px;
            color:red;
            font-weight: bold;
        }
        h3.recommendation {
            font-weight: normal;
        }
        .red {
            color:red;
        }
        .triangle {
            width: 0;
            height: 0;
            margin: 0 auto;
            border-style: solid;
            border-width: 25px 25px 0 25px;
            border-color: #000 transparent transparent transparent;
            text-align: center;
        }
        .triangle-white {
            border-top-color: #fff;
        }
        .urgent {
            color: #f00;
        }
        .text-c {
            text-align: center;
        }
        .float-r {
            float: right;
        }
        img {
            max-width: 100%;
        }
        img.float-r {
            margin-left: 20px;
            margin-bottom: 10px;
        }
        .caption {
            font-size: 0.75em;
            line-height: 1.222em;
        }
        .strike {
            text-decoration: line-through;
        }
        .clear {
            clear: both;
        }

        .frame {
            max-width: 750px;
            padding: 1em 25px;
            margin: 0 auto;
        }
        .frame img {
            max-width: 100%;
        }

        .kicker,
        .deck {
            font-size: 2em;
            line-height: 1.2em;
            font-weight: bold;
            text-align: left;
            margin: 0;
        }
        .deck {
            margin-bottom: 1em;
        }
        h1 {
            text-align: center;
        }
        .huge-text {
            text-align: center;
        }
        h2,
       .big-text {
            font-size: 1.25em;
            line-height: 1.5em;
            font-weight: bold;
            text-align: left;
            color: #333;
        }
        .small-text {
            font-size: 0.75em;
        }
        h3 {
            font-size: 1.25em;
            line-height: 1.2em;
            font-weight: bold;
            color: #333;
        }
        .h3-deck {
            text-decoration: underline;
            margin-top: -1em;
            line-height: 1.2em;
        }
        p, li {
            margin: 0 0 1.25em 0;
        }
        blockquote {
            font-size: 1.25em;
            line-height: 1.2em;
            font-weight: bold;
            padding-left: 2em;
            padding-right: 2em;
        }
        .shout {
            color: #f00;
            text-align: center;
            font-size: 1.5em;
            line-height: 1.2em;
            font-weight: bold;
            margin: 2em 0;
        }
        .check-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        .check-list li {
            background: transparent url('//g.foolcdn.com/art/shop/newsletters/1502/accept.png') no-repeat scroll 0 5px;
            padding-left: 45px;
            padding-top: 8px;
        }
        .pull-quotes {
            padding-left: 3em;
            padding-right: 3em;
        }

        .sidebar,
        .advisor {
            margin-bottom: 20px;
            padding: 0 20px 5px 20px;
            color: white;
            background-color: #07a;
            border-radius: 3px;
        }
        .sidebar > h2,
        .sidebar > h3,
        .sidebar > p,
        .sidebar li,
        .sidebar a,
        .sidebar a:visited {
            color: #fff;
        }
        .sidebar > h2 {
            margin-top: 0;
        }
        .advisor img {
            max-width: 300px;
        }

        .bg-ti-blue {
            background-color: #07a
        }

        .liftnote {
            border: 4px double #ddd;
            margin: 20px 0;
            padding: 10px 20px;
        }
        .liftnote h3 {
            color: #cc0000;
            font-size: 38px;
            line-height: 44px;
            margin-bottom: 20px;
            text-align: center;
        }
        .liftnote p, .liftnote strong {
            color: #666;
            font-family: courier, "Courier New", Courier, serif;
        }

        @media screen and (min-width: 768px) {
            .sidebar {
                width: 48%;
                margin-left: 2%;
                padding-top: 20px;
                float: right;
            }
            .sidebar > .triangle {
                display: none;
            }
        }

/* =====================================================================================================
Next bring in all the styles from commerce-ui/order_page/static/order_page/ti-base.css
===================================================================================================== */

@font-face {
    font-family: "GothamBlack";
    src: url("//www.fool.com/oldpremium/fonts/gotham/Gotham-Black.eot?#iefix") format("eot"), url("//www.fool.com/oldpremium/fonts/gotham/Gotham-Black.woff") format("woff"), url("//www.fool.com/oldpremium/fonts/gotham/Gotham-Black.ttf") format("truetype");
}

@font-face {
    font-family: "AvenirBook";
    src: url("//www.fool.com/oldpremium/fonts/avenir/Avenir-Book.eot?#iefix") format("eot"), url("//www.fool.com/oldpremium/fonts/avenir/Avenir-Book.woff") format("woff"), url("//www.fool.com/oldpremium/fonts/avenir/Avenir-Book.ttf") format("truetype");
}

@font-face {
    font-family: "AvenirOblique";
    src: url("//www.fool.com/oldpremium/fonts/avenir/Avenir-Oblique.eot?#iefix") format("eot"), url("//www.fool.com/oldpremium/fonts/avenir/Avenir-Oblique.woff") format("woff"), url("//www.fool.com/oldpremium/fonts/avenir/Avenir-Oblique.ttf") format("truetype");
}

@font-face {
    font-family: "AvenirHeavy";
    src: url("//www.fool.com/oldpremium/fonts/avenir/Avenir-Heavy.eot?#iefix") format("eot"), url("//www.fool.com/oldpremium/fonts/avenir/Avenir-Heavy.woff") format("woff"), url("//www.fool.com/oldpremium/fonts/avenir/Avenir-Heavy.ttf") format("truetype");
}

body {
    background: transparent url("//g.foolcdn.com/art/shop/newsletters/3991/hop-bg-gray.jpg") repeat scroll 0 0 / 10% auto;
    font-family: "AvenirBook",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 22px;
}
strong {
	font-family: "AvenirHeavy",arial,sans-serif;
}

#page-wrapper {
    border-radius: 12px;
    margin: 0 auto 20px;
    max-width: 900px;
    padding: 100px 60px 20px;
}
@media screen and (max-width: 810px) {
    #page-wrapper {
        padding: 110px 30px 10px;
    }
}
@media screen and (max-width: 585px) {
    #page-wrapper {
        padding: 162px 15px 10px;
    }
}

.container {
    width: auto;
}

.col-md-8 {
    width: 100%;
}

.wd-runner {
    position: fixed;
    top: 0;
    z-index: 9999;
    background: #fff none repeat-x fixed 0 0 / 90px auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    color: #000;
    font-size: 20px;
    padding: 6px 0;
    text-align: center;
    width: 100%;
}
.runner-content {
    margin: 0 auto;
    max-width: 900px;
}
.wd-logo {
    float: left;
    width: 220px;
}

h1 {
    color: #000000;
    font-family: "Oswald",Helvetica,Arial,sans-serif;
    font-size: 58px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 72px;
    margin: 5px 0 30px;
    text-align: center;
}
h2 {
    font-family: "avenirheavy",Helvetica,Arial,sans-serif;
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 34px;
    margin-bottom: 30px;
}
h3 {
    color: #000000;
    font-family: "GothamBlack",Helvetica,Arial,sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
}
.bw-headline {
	font-size: 58px;
	line-height: 70px;
}
.bw-h2 {
    color: #000;
    font-size: 34px;
    line-height: 38px;
}
.ma-subhead {
    font-size: 24px;
    line-height: 30px;
}
.red-center {
    color: #c00;
    font-size: 22px;
    text-align: center;
}

.chart {
	margin: 20px auto;
	display: block;
    max-width: 800px;
    width: 100%;
}
.chart-title {
    font-size: 24px;
    font-family: "AvenirHeavy",arial,sans-serif;
	line-height: 28px;
    margin: 20px auto 10px;
    text-align: center;
}
.reit-hero {
    float: right;
    width: 330px;
}
.bonus-report-kicker {
    color: #096;
    display: block;
    font-size: 20px;
}
.reit-header {
    font-family: "avenirheavy", arial, sans-serif;
    font-size: 34px;
    line-height: 38px;
}
.reit-box {
    padding: 0 20px;
}
.sidebar {
    border: 1px solid #999999;
    border-radius: 5px;
    display: block;
    float: right;
    font-size: 16px;
    margin: 0 0 10px 20px;
    padding: 10px;
    background-color: #07a
}
.offer-arrow {
    background: transparent url("//g.foolcdn.com/art/shop/newsletters/1255/arrow-green-right.png") no-repeat scroll 0 10px / 20px auto;
    height: auto;
    padding-left: 30px;
    padding-top: 10px;
}

.testimonial-short {
    background: url("//g.foolcdn.com/art/shop/newsletters/37/microsite/quotes_green.png") no-repeat scroll left top transparent;
    color: #333333;
    height: 70px;
    margin: 0 auto 20px;
    padding: 22px 0 0 14px;
    width: 640px;
}
.testimonial {
	background: url("//g.foolcdn.com/art/shop/newsletters/37/microsite/quotes_green.png") no-repeat scroll left top transparent;
    color: #333333;
    margin: 0 auto 20px;
    padding: 22px 0 0 14px;
    width: 640px;
}
#pricetable {
    background: url("//g.foolcdn.com/art/shop/newsletters/1502/1502-worth-bg.gif") repeat scroll 0 0 transparent;
    border: 1px solid #c6c6c7;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 1px 0 #ffffff;
    color: #333333;
    margin: 10px auto 18px;
    padding: 13px 25px 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
#startnow {
	font-family: "GothamBlack",Helvetica,Arial,sans-serif;
	height: auto;
	max-width: 500px;
	width: auto;
}
#startnow a {
    text-decoration: none;
}
li {
    margin-bottom: 10px;
}
h2.bullets {
    background: transparent url("//g.foolcdn.com/art/shop/newsletters/1502/accept.png") no-repeat scroll 0 0 / 40px auto;
    color: #000;
    font-size: 28px;
    line-height: 32px;
    margin-left: 30px;
    padding-left: 54px;
    padding-top: 6px;
    text-align: left;
}
.offer-arrow {
    background: transparent url("//g.foolcdn.com/art/shop/newsletters/1255/arrow-green-right.png") no-repeat scroll 0 10px / 20px auto;
    height: auto;
    margin-bottom: 6px;
    padding-left: 30px;
    padding-top: 10px;
}
.alert-red {
    background: transparent url("//g.foolcdn.com/art/shop/newsletters/1255/alert-red.png") no-repeat scroll 0 10px / 20px auto;
    height: auto;
    margin-bottom: 6px;
    padding-left: 30px;
    padding-top: 8px;
}
.sidebar > p {
    font-size: 14px;
    line-height: 18px;
    margin: 10px 0 0;
}
.module-header {
    border-bottom: 1px solid #ccc;
    font-family: "avenirheavy",arial,sans-serif;
    font-size: 24px;
    line-height: 28px;
    margin-top: 20px;
    padding-bottom: 10px;
}
.top-date-kicker {
    color: #096;
    display: block;
    font-size: 16px;
    line-height: 26px;
}
#order div.offer input {
    position: absolute;
}
#offers label {
    font-size: 30px;
    width: 95%;
}
.price-breakdown {
    border-bottom: 1px solid #ccc;
    color: #727272;
    font-family: "AvenirBook",arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin-top: 14px;
    padding-bottom: 4px;
}
.offer-markup {
    width: 95%;
}
img {
	height: auto;
    max-width: 100%;
}
.btn {
	white-space: normal;
    width: 100%;
}
#guarantee p {
    font: 15px/21px "AvenirBook",Helvetica,Arial,sans-serif;
}
input, button, select, textarea {
    padding: 8px 5px;
}
.liftnote {
    border: 4px double #ddd;
	margin: 20px 0;
    padding: 10px 20px;
}
.liftnote h3 {
    color: #cc0000;
    font-size: 28px !important;
    line-height: 36px;
    margin-bottom: 20px;
    text-align: center;
}
.liftnote p, .liftnote strong {
	color: #666;
    font-family: courier, "Courier New", Courier, serif;
}
.runner-timer {
    color: #000;
    font-family: "AvenirBook",arial,helvetica,sans-serif;
    font-size: 20px;
    padding-top: 12px;
    vertical-align: middle;
    text-align: center;
    line-height: 35px;
}
#vip-closing, #runner-closing {
    color: #c00;
    display: inline;
	font-family: "AvenirHeavy",arial,helvetica,sans-serif;
	font-size: 22px;
    white-space: nowrap;
}
.countdown-intro {
	color: #000000 !important;
	font-family: 'AvenirHeavy',arial,sans-serif !important;
	font-size: 36px !important;
	font-weight: 700;
	line-height: 42px !important;
	margin-bottom: 10px;
	margin-top: 30px;
	text-align:center;
}

#countdown  {
    font-family: 'AvenirBook', arial, helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin: 30px auto;
    color:#000000;
    text-align: center;
}
#countdown > div {
    border-right: 1px dashed rgba(204, 0, 0, 0.45);
    display: inline-block;
    font-family: "AvenirHeavy",arial,helvetica,sans-serif;
    margin-right: 20px;
    padding-right: 20px;
    text-align: center;
}
#countdown > div:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}
#countdown span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 5px;
    color:#b00000;
}
@media only screen and (min-width: 480px) {
    #countdown {
        font-size: 15px;
    }
    #countdown > div {
        margin-right: 12px;
        padding-right: 12px;
    }
    #countdown span {
        font-size: 60px;
        line-height: 62px;
    }
}
@media only screen and (min-width: 900px) {
    #countdown {
        font-size: 18px;
    }
    #countdown > div {
        margin-right: 20px;
        padding-right: 20px;
    }
    #countdown span {
        font-size: 100px;
        line-height: 102px;
    }
}

#wd-closing {
	color: #cc0000;
    font-family: "Oswald",arial,sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    background-color: #ffffff;
    width: 45%;
    display: block;
    margin: 20px auto;
}

.timer-kicker {
    text-align: center;
    font-family: "Oswald",arial,sans-serif;
    font-weight: 300;
    font-size: 24px ;
    margin: 30px auto 20px;
    line-height: 28px;
}
#white-overlay {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
.blur-filter {
    filter: blur(7px);
	-webkit-filter: blur(7px);
	-moz-filter: blur(7px);
	-o-filter: blur(7px);
	-ms-filter: blur(7px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='7');
	opacity: 0.3;
	position: relative;
}
hr {
    border-top: 1px solid #bbb;
}
.summed-credits {
    display: none !important;
}
#returns {
    background: url('//g.foolcdn.com/art/shop/newsletters/1502/1502-worth-bg.gif') repeat scroll 0 0 transparent;
    border: 4px solid #117766;
    border-radius: 4px 4px 4px 4px;
    box-shadow: -8px 14px 20px rgba(0, 0, 0, 0.3) inset, 10px 2px 10px #fff;
    -moz-box-shadow: -8px 14px 20px rgba(0, 0, 0, 0.3) inset, 10px 2px 10px #fff;
    -webkit-box-shadow: -8px 14px 20px rgba(0, 0, 0, 0.3) inset, 10px 2px 10px #fff;
    color: #333;
    font-size: 12px;
    height: 400px;
    line-height: 8px;
    margin: 10px auto 18px;
    overflow: auto;
    padding: 13px 20px 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
#returns table {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 16px;
    width: 100%;
}
#returns thead th {
    border-bottom: 1px solid #999;
}
#returns tbody td {
    line-height: 16px;
    padding: 8px 6px;
}
#returns tfoot td {
    padding: 4px 6px;
}
#returns tfoot tr:first-child td {
    padding-top: 25px;
}
#returns tfoot tr:last-child td {
    padding-bottom: 25px;
}
#returns tbody tr:nth-child(even) {
    background-color: #efefef;
}
#returns tfoot {
    padding-top: 20px;
    border-top: 1px solid #999;
}
#returns tfoot td {
    margin-top: 20px;
    text-align: right;
    width: 60%;
}
#page-footer {
    color: #333;
}
#page-footer a {
    color: #418ece;
}
.quote-box {
    background-color: #f7f7f7;
}
.header-border img {
    display: inline-block;
    margin: 0 0 5px;
    padding: 0 25px;
    text-align: center;
    width: 240px;
}
.quote-box > p {
    padding: 0 20px;
}
.quote-box {
    background-color: #f7f7f7;
    display: block;
    margin-top: 100px;
    position: relative;
}
.quote-intro {
    font-size: 24px;
    line-height: 26px;
    text-align: center;
}
.login {
    font-size: 12px;
    text-align: right;
}

/* Floaty McFloatface styles */

select.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 0 3px #f0f0f0 inset, 2px 2px 0 #dde8f5;
    color: #555;
    display: block;
    font-family: "AvenirHeavy", arial, sans-serif;
    font-size: 18px;
    height: 100%;
    margin: 10px auto 20px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    /* Ridiculous hack to override transition rule above, as well as Bootstrap nonsense: */
    -webkit-transition: initial !important;
     -o-transition: initial !important;
        transition: initial !important;
}
#one-click .header {
    color: #777;
    font-family: "AvenirHeavy", arial, sans-serif;
    font-size: 14px;
    margin-bottom: 4px;
}
.account-info .info {
    font-family: "AvenirBook", arial, sans-serif;
  font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px;
    padding-left: 10px;
}
.account-info .login-notice {
    color: #777;
    font-family: "AvenirBook", arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
}
#one-click h4 {
    font-family: "AvenirHeavy", arial, sans-serif;
    font-size: 24px;
    margin-top: 0;
}
#one-click .offer-markup .guarantee {
    font-family: "AvenirBook", arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}
#one-click table.pricing-breakdown .price {
    font-family: "AvenirHeavy", arial, sans-serif;
}
#one-click table.pricing-breakdown .credit {
    font-family: "AvenirBook", arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
}
.one-click-btn {
    background-color: #fc6;
    border: 1px solid #cab038;
    display: block;
    font-family: "AvenirHeavy", arial, sans-serif;
    font-size: 20px;
    margin: 10px auto;
    padding: 10px 20px;
}

/* end Floaty styles */

@media screen and (max-width: 900px) {
    .br-hide {
        display: none;
    }
    .wd-runner {
        padding: 6px;
    }
}

@media screen and (max-width: 768px) {
    .vip-logo {
        display: block;
        float: none;
        margin: 0 auto;
    }

    .vip-runner {
        padding: 8px 0;
    }
}

@media screen and (max-width: 700px) {
    .wistia_embed {
        height: 270px;
        width: 480px;
    }
    div.video-container {
        background: none;
        height: auto;
        width: auto;
    }
    div.video {
        border: none;
        padding: 0px;
    }
}

@media screen and (max-width: 650px) {
    .wd-logo {
        float: none;
    }
    .runner-timer {
        float: none;
        padding-top: 4px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    h2, h2.bullets {
        font-size: 20px;
        line-height: 24px;
    }
    h2.bullets {
        margin-left: 10px;
    }
    h1 {
        font-size: 40px;
        line-height: 50px;
    }
    h3 {
        font-size: 24px;
        line-height: 30px;
    }
    p.recommendation-kicker {
        margin: 20px 0 0 0;
        color: #f00;
    }
    h3.recommendation {
        font-weight: bold;
        font-size: 24px;
        color: #000;
        margin-top: 0;
    }


    .bw-headline {
        font-size: 30px;
        line-height: 40px;
    }
    .wistia_embed {
        height: 135px;
        width: 240px;
    }
    div.video-container {
        background: none;
        height: auto;
        width: auto;
    }
    div.video {
        border: none;
        padding: 0px;
    }
    .testimonial-short, .testimonial {
        height: auto;
        width: 100%;
    }
    #page-footer {
        width: auto;
    }
    .sidebar {
        width: 100%;
    }

    .header-border {
        top: -70px;
    }
    .header-border img {
        width: 180px;
    }
    #runner-closing {
        display: block;
    }
}

/* =====================================================================================================
Finally bring in all the styles from http://mms.fool.com/admin/order_page/orderpagecomponent/986/
===================================================================================================== */
h1 {
    color: #000;
    font-size: 52px;
    line-height: 1.3;
}
h2 {
    margin: 2rem 0 2rem;
}
.h1-like {
    color: #000000;
    font-family: "Oswald",Helvetica,Arial,sans-serif;
    font-size: 58px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.4;
    margin: 5px 0 30px;
    text-align: center;
}
.h2-like {
    font-family: "Oswald",Helvetica,Arial,sans-serif;
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 1.4;
    margin-bottom: 30px;
    font-weight: normal;
    text-align: center;
}
.dateline {
    text-transform: uppercase;
    color: #999;
    margin: 5rem 0 3rem;
}
li {
    margin-bottom: 1rem;
}
.red {
    color: #f00;
}

#no-refund {
    background-color: #fff;
    border: 2px solid #2fa41f;
    margin: 25px auto 20px;
    max-width: 800px;
    padding: 15px 15px 0;
}
#no-refund h3 {
    color: #2fa41f;
    font-family: "ProximaNova-ExtraBold", arial, sans-serif;
    margin: 0 0 5px;
    font-size: 40px;
    text-align: center;
}
#no-refund p {
    color: #000;
    font-family: "ProximaNova-Bold", arial, sans-serif;
}
