/* MFOne hybrid stylesheet */

@font-face {
    font-family: "ProximaNova-Regular";
    src: url("//www.fool.com/oldpremium/fonts/proximanova/proximanova-regular-webfont.eot?#iefix") format("eot"), url("//www.fool.com/oldpremium/fonts/proximanova/proximanova-regular-webfont.woff") format("woff"), url("//www.fool.com/oldpremium/fonts/proximanova/proximanova-regular-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "ProximaNova-Bold";
    src: url("//www.fool.com/oldpremium/fonts/proximanova/proximanova-bold-webfont.eot?#iefix") format("eot"), url("//www.fool.com/oldpremium/fonts/proximanova/proximanova-bold-webfont.woff") format("woff"), url("//www.fool.com/oldpremium/fonts/proximanova/proximanova-bold-webfont.ttf") format("truetype");
}

/* VIP styles */

.vip-runner {
    background: #fff none repeat-x scroll 0 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    color: #000; 
    font-family: "ProximaNova-Regular",arial,sans-serif;
    font-size: 20px;
    padding: 8px 0;
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
.runner-content {
    margin: 0 auto;
    max-width: 910px;
}
.vip-logo {
    float: left;
    width: 220px;
}
@media screen and (max-width: 960px) {
    .vip-runner {
        padding: 12px 30px;
    }
}

@media screen and (max-width: 768px) {
    .vip-logo {
        float: none;
        width: 180px;
    }
}

/* end VIP styles */

/* ratings holder - absolute */

.ratings-holder {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.3);
    padding:10px;
    position: fixed;
    top: 50px;
    transition: all 0.4s ease 0s;
    width: 550px;
    z-index: 1001;
}

.show-ratings-holder {
    left: -1px;
}

.hide-ratings-holder {
    left: -550px;
}

.ratings-holder a.holder-button {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 98% auto;
    border-top:#e5e5e5;
    border-right:#e5e5e5;
    border-bottom:#e5e5e5;
    border-left: transparent;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    border-radius:2px;
    box-shadow: 5px 0 6px -3px rgba(0, 0, 0, 0.2);
    color: #383839;
    cursor: pointer;
    font-size: 22px;
    width: 45px;
    height: 310px;
    line-height: 43px;
    position: absolute;
    top: 24px;
    right: -44px;
    text-align: center; 
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;  
    -o-transition: all 0.3s ease 0s; 
}

.holder-img-close {
  background-image: url("//g.foolcdn.com/art/shop/newsletters/1255/ratings-button-close.png");
}

.holder-img-open {
  background-image: url("//g.foolcdn.com/art/shop/newsletters/1255/ratings-button-long.png");
}

/* end ratings holder absolute */

/* seat counter 

    #viewing {
    border-radius: 10px !important;
    box-shadow: 0 0 5px #999999 !important;
    color: #fff !important;
    padding: 15px 30px 15px 15px !important;
    position: fixed !important;
    top: 100px !important;
    right: -15px !important;
    font-family: "ProximaNova-Bold",helvetica,arial,sans-serif !important;
    font-size: 18px !important;
    line-height: 20px !important;
    margin-left: -32px !important;
    z-index: 9999 !important;
    text-align: left !important;
    display: none;
}

#viewing-count {
    font-size: 50px !important;
    font-weight: 700 !important;
    float: left !important;
    margin-right: 10px !important;
    padding-top: 11px !important;
}

 end seat counter */

#viewing-count {
    color: #c00;
}

.liftnote {
    border: 4px double #ddd;
    margin-bottom: 40px;
    padding: 10px 20px;
}
.liftnote h3 {
    font-weight: 400;
    font-size: 28px;
}
/*
.liftnote h3 {
    color: #cc0000;
    font-size: 50px;
    line-height: 56px;
    margin-bottom: 20px;
    text-align: center;
}
.liftnote p {
    color: #666;
    font-family: courier, "Courier New", Courier, serif;
}
*/

.title-eyebrow {
    color: #c00;
    font-family: courier,sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.sidebar {
    border: 1px solid #bbbbbb;
    border-radius: 6px;
    float: right;
    margin-left: 10px;
    padding: 10px;
    width: 300px;
}
.sidebar p {
    font-size: 16px;
}

.screenreader-only {
    height: 1px;
    width: 1px;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    color: transparent;
}
.mobile-toggle {
    color: #000;
    cursor: pointer;
    display: none;
    float: right;
    font-size: 40px;
    margin-top: 6px;
}
.subnav {
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    display: none;
    height: auto;
    right: -406px;
    position: fixed;
    top: 76px;
    max-width: 400px;
    width: 100%;
    z-index: 5;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.subnav.show-subnav {
    right: 0;
}
.subnav-list {
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}
.subnav-item {
    border-bottom: 1px dotted #ccc;
    display: block;
    height: auto;
    line-height: 0;
    list-style: none;
    margin: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.subnav-item:hover {
    background-color: #f7f7f7;
}
.subnav-logo {
    display: block;
    margin: 0 auto;
    opacity: 0.5;
    width: 45px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.subnav-item.active .subnav-logo, .subnav-link:hover .subnav-logo {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}
.subnav-wrapper p {
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
}
.subnav-link {
    font-family: "ProximaNova-Regular", arial, sans-serif;
    font-size: 16px;
    color: #888;
    display: inline-block;
    line-height: 0;
    min-width: 100%;
    overflow: hidden;
    padding: 22px 17px;
    position: relative;
    text-decoration: none !important;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.subnav-link::before {
    content: "";
    display: block;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.subnav-link:hover, .subnav-link:focus {
    color: #0c366a;
    text-decoration: none;
}
.active .subnav-link {
    color: #fff;
    font-family: "ProximaNova-Regular",arial,sans-serif;
}
.active .subnav-link::before {
    background-color: #0c366a;
    bottom: 0;
    content: "";
    height: 80px;
    left: 0;
    position: absolute;
    width: 100%;
}
.subnav.affix {
    position: fixed;
    top: 50px;
}  
.subnav-toggle {
  display: none;
}

label.productLbl {
    cursor: pointer;
}
#invitation {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bbb;
    font-family: "ProximaNova-Bold",arial,helvetica,sans-serif;
    margin-bottom: 30px;
    text-align: right;
    text-transform: uppercase;
}

.runner-logo {
    float: left;
    width: 300px;
}
@media screen and (max-width: 800px) {
    .runner-logo {
    width: 280px;
}
}
@media screen and (max-width: 768px) {
.mobile-toggle {
    display: block;
}
.subnav {
    display: block;
}
}
@media screen and (max-width: 500px) {
    .runner-logo {
    float: none;
    width: 200px;
}
}
.runner-timer {
    color: #fff;
    /* display: none; */
    float: right;
    font-family: "ProximaNova-Regular",arial,helvetica,sans-serif;
    font-size: 20px;
    line-height: 24px;
    padding-top: 4px;
    text-align: right;
}
.runner-timer.disabled {
    display: none;
}
@media screen and (max-width: 550px) {
.runner-timer {
    display: block;
    float: none;
    font-size: 14px;
    padding-top: 0;
    text-align: center;
}
}
.reserved-seat {
    font-size: 16px;
    padding-top: 8px;
}
@media screen and (max-width: 850px) {
    .reserved-seat {
    font-size: 14px;
}
}
@media screen and (max-width: 470px) {
.runner-timer.reserved-seat {
    display: none;
}
}
#vip-closing, #runner-closing {
    color: #c00;
    display: block;
    font-family: "ProximaNova-Bold",arial,helvetica,sans-serif;
    font-size: 24px;
}
@media screen and (max-width: 768px) {
    #vip-closing, #runner-closing {
    display: block;
}
.runner-timer.reserved-seat #vip-closing {
    display: inline;
}
}

body {
background: url("images/one-dark-bg.f775c729cfd1.jpg") no-repeat center center fixed; 
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
background-color:#757575;
}

#page-wrapper {
    margin: 0 auto 20px;
    max-width: 900px;
    padding: 100px 30px 20px;
}
.container {
    width: 100%;
}
.col-md-8 {
    width: 100%;
}

.br-hide {
    display: block;
}


div.formModules {
    background-color: #ffffff;
    margin: 0 auto !important;
    width: 90%;
}

div#sad-panda {
    padding: 0 20px;
}

div#headergraphic {
    height: auto;
    margin: 0 auto 10px;
}

#headergraphic > img {
    height: auto;
    width: 100%;
}

p, ul li, ol li {
    FONT-SIZE: 18px;
    FONT-FAMILY: "ProximaNova-Regular",Arial,Helvetica,sans-serif;
    LINE-HEIGHT: 23px;
    margin-bottom: 20px;
    COLOR:#333;
}

h1 {
    color: #000000;
    FONT-FAMILY: "roboto condensed",Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 58px;
    }
    .hl-don {
    text-align: left;
    }
    .ae-hl {
    font-size: 52px;
    }
    .bw-hl {
    font-size: 46px;
    line-height: 52px;
    }
    .last-call {
    font-size: 60px;
    line-height: 62px;
    }
    .congrats {
    font-size: 90px;
    line-height: 100px;
}
.softopen {
    font-size: 62px;
    line-height: 64px;
}
.ten-things {
    font-size: 56px;
    line-height: 64px;
}

h3 {
    color: #000000;
    font-family: "roboto condensed",Arial,Helvetica,sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 34px;
    margin: 30px 0 20px;
}
strong {
    font-family: "ProximaNova-Bold",arial,sans-serif;
}

.title-subhead {
    font-family: 'roboto condensed',Arial,Helvetica,sans-serif ;
    font-size:26px !important;
    line-height: 30px;
    font-weight: normal;
}
.ae-subhead {
    font-size: 30px !important;
    line-height: 34px;
}

.legal-disclaimer {
    font-size: 10px !important;
    line-height: 14px !important;
}

.table {
    font-family: "ProximaNova-Regular",arial,helvetica,sans-serif;
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
}

.center-image {
    margin: 20px auto; 
    display: block;
    max-width: 650px;
}

div#container h3 {
    FONT-FAMILY: 'roboto condensed',Arial,Helvetica,sans-serif !important;
    margin-bottom: 20px;
    padding: 0px;
}
fieldset label.required {
    font-family: "ProximaNova-Regular",Arial,Helvetica,sans-serif;
    font-size: 18px;
}

blockquote {
    border-left: medium none;
}
.content hr {
    border: 1px solid #ddd;
}

#products {
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25), 0 0 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    min-height: 180px;
    padding: 1px 0 4px;
    width: 100%;
    }
    .product-copy {
    width: 66%;
    }
    .j-box-copy {
    width: 100%;
    }
    .product-copy > p, .j-box-copy > p {
    padding: 0 16px;
    }
    .product-copy > h3 {
        margin-top: 10px;
    padding: 0 16px;
    }
    .j-box-copy > h3 {
    background-color: #eee;
    border-bottom: 1px solid #666;
    margin-top: 0;
    padding: 20px 16px;
    }
    .jbox-title {
    font-family: "roboto condensed",arial,sans-serif;
    font-size: 28px;
    }
    .hulbert-kicker {
    background-color: #E6BF15;
    font-family: "roboto condensed",arial,sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
    padding: 10px;
    }
    .stockadvisor {
    background: url("//g.foolcdn.com/art/shop/newsletters/1255/advisors/1255-tom0916.jpg") no-repeat scroll right bottom rgba(0, 0, 0, 0);
    }
    .rulebreakers {
    background: url("//g.foolcdn.com/art/shop/newsletters/1255/advisors/1255-david0115-rb.jpg") no-repeat scroll right bottom rgba(0, 0, 0, 0);
    }
    .insidevalue {
    background: url("//g.foolcdn.com/art/shop/newsletters/1255/advisors/1255-rich0315.jpg") no-repeat scroll right bottom rgba(0, 0, 0, 0);
    }
    .ruleyourretirement {
    background: url("//g.foolcdn.com/art/shop/newsletters/1255/advisors/1255-bro0314-280.jpg") no-repeat scroll right bottom rgba(0, 0, 0, 0);
    }
    .options {
    background: url("images/1255-jeff-opt0417.df1bcbb33d47.jpg") no-repeat scroll right bottom rgba(0, 0, 0, 0);
    }
    .mdp {
    background: url("images/1255-matt0417.0a84861eef03.jpg") no-repeat scroll right bottom rgba(0, 0, 0, 0);
    }
    .pro {
    background: url("images/1255-jeff0417.23a49a415d7e.jpg") no-repeat scroll right bottom rgba(0, 0, 0, 0);
    }
    .supernova {
    background: url("images/1255-david0417.5e8c0aa38dce.jpg") no-repeat scroll right bottom rgba(0, 0, 0, 0);
    }
    .wealthdefender {
    background: url("images/1255-wd0417.1862e0a35080.jpg") no-repeat scroll right center rgba(0, 0, 0, 0);
    }
    .explorer {
    background: url("images/1255-ex0417.9df33a908683.jpg") no-repeat scroll right center rgba(0, 0, 0, 0);
    }
    .totalincome {
    background: url("images/1255-ti0417.6af761198ce3.jpg") no-repeat scroll right center rgba(0, 0, 0, 0);
    }
    .discovery2017 {
    background: url("images/1255-disc0417.0503f0120db6.jpg") no-repeat scroll right center rgba(0, 0, 0, 0);
    }

.chart {
    display: block;
    margin: 10px auto;
    max-width: 700px;
    width: 100%;
}   
.small-block {
    margin-left: 40px;
}
.small-block .header {
    border-bottom: 1px solid #ccc;
    font-size: 22px;
    margin-bottom: 10px;
    padding-bottom: 4px;
}

/* modal styles */

.modal {
    margin: 20px auto 0;
    width: 100%;
}
.modal-dialog {
    width: 680px;
}

.sma-modal-canvas {
    margin-top: 0 !important;
    }
    .mfwm-modal-canvas {
    margin-top: 0 !important;
    }
    .ratings-modal-canvas {
    margin-top: 0 !important;
    }
    .sma-modal-content, .ratings-modal-content {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    }
    .mfwm-modal-content {
    border: 2px solid #4caf50;
    }
    .sma-modal-dialog {
    margin: 20px auto;
    max-width: 800px;
    width: 50% !important;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    }
    .mfwm-modal-dialog {
    margin: 20px auto;
    max-width: 860px;
    width: 64% !important;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    }
    .ratings-modal-dialog {
    margin: 20px auto;
    max-width: 800px;
    width: 70% !important;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    }
    .modal.fade .sma-modal-dialog, .modal.fade .mfwm-modal-dialog, .modal.fade .ratings-modal-dialog {
    transform: translate(0px, 100%);
    transition: transform 0.3s ease-out 0s;
    }
    .modal.in .sma-modal-dialog, .modal.in .mfwm-modal-dialog,  .modal.in .ratings-modal-dialog {
    transform: translate(0px, 0px);
    }
    .sma-backdrop, .mfwm-backdrop, .ratings-backdrop {
    opacity: 0 !important;
    }
    .sma-modal-header {
    background: none repeat scroll 0 0 #fff !important;
    border-bottom: 0 none;
    padding: 0;
    }
    .mfwm-modal-header {
    background: none repeat scroll 0 0 #4caf50 !important;
    border-bottom: 0 none;
    padding: 15px;
    }
    .ratings-modal-header {
    background: #fff none repeat scroll 0 0 !important;
    border-bottom: 0 none;
    padding: 0;
    }
    .mfwm-modal-body {
    padding: 25px;
    }
    .ratings-modal-body {
    padding: 25px;
    }
    .modal-header.mfwm-modal-header > p {
    color: #fff;
    font-family: "roboto condensed",arial,sans-serif;
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
    }
    .sma-close, .mwfm-close, .ratings-close {
    color: #000 !important;
    font-size: 46px !important;
    margin-left: 5px;
    position: fixed;
    z-index: 9999;
    }
    .mobile-close {
        display: none !important;
    }
    .laptop-close {
        display: block !important;
    }
    .sma-border {
    margin-top: 0px !important;
    }
    .sma-border img {
    width: 160px !important;
    }
    .sma-modal-body > h2 {
    text-align: center; 
    font-weight: 100; 
    font-size: 44px; 
    margin: 6px auto 20px;
    }
    .mfwm-headline {
    font-size: 34px;
    line-height: 38px;
    margin-bottom: 20px;
    text-align: center;
    }

.modal-header {
    background-image: url("//g.foolcdn.com/art/shop/newsletters/1255/blk-texture-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.modal-content {
    overflow-y: auto;
}

.advisor > h3 {
    margin-top: 90px !important;
}

.modal-header h3 {
    color:#ffffff;
    font-size: 32px;
    font-weight: 100;
    letter-spacing: -1px;
    margin-top: 30px;
}

.modal-body h4 {
    font-family: "ProximaNova-Bold",arial,helvetica,sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.modal-body > p {
    font-size: 18px;
}

.modal-body > img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.modal-backdrop {
    background-color: #000;
}

.close {
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    opacity: 0.8;
}
.mfwm-close {
    color: #fff !important;
    font-size: 46px !important;
    left: 0;
    margin-left: 5px;
    position: absolute;
    top: 0;
    z-index: 9999;
}
.mfwm-logo {
    display: block;
    margin: 0 auto;
    width: 350px;
}
.modal-header.sma-modal-header > p {
    color: #fff;
    font-family: "roboto condensed",arial,sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
    text-align: center;
}
.player-wrapper-modal, .wistia_embed-modal {
    height: 360px;
    margin: 0 auto 20px;
    width: 640px;
}
.header-border {
    background: url("//g.foolcdn.com/art/shop/newsletters/30/mdp360/border-header.png") repeat-x scroll center center rgba(0, 0, 0, 0);
    margin-top: 30px;
    text-align: center;
}
.header-border img {
    background-color: #ffffff;
    display: inline-block;
    margin: 0 0 5px;
    padding: 0 25px;
    text-align: center;
    width: 125px;
}
.sma-modal-body > h2 {
    font-family: "ProximaNova-Regular",arial,helvetica,sans-serif;
    font-size: 44px;
    font-weight: 100;
    margin: 6px auto 20px;
    text-align: center;
}
.sma-header {
    border-bottom: 1px solid #bbbbbb;
    font-family: "roboto condensed",arial,sans-serif !important;
    font-size: 26px !important;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* end modal styles */

/* video block hero styles */

.hero-block, a.hero-block {
    float: left;
    height: 300px;
    margin: 0 2% 30px;
    overflow: hidden;
    text-decoration: none;
    width: 46%;
    }
    a.hero-block {
    cursor: pointer;
    }
    .report-video {
    display: block;
    height: auto;
    width: 100%;
    }
    .tg-ep-block {
    display: block;
    height: auto;
    margin-bottom: 40px;
    margin-top: 30px;
    width: 100%;
    }
    .hero-thumbnail {
    background-color: #000000;
    height: 62%;
    overflow: hidden;
    }
    .new-icon {
    position: absolute;
    z-index: 100;
    }
    .play-icon {
    display: block;
    margin: 24% auto -50%;
    position: relative;
    z-index: 100;
    }
    .hero-image {
    margin-top: -8%;
    opacity: 0.8;
    position: relative;
    width: 150%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.33, 0, 0.2, 1);
    transition-duration: 0.3s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.33, 0, 0.2, 1);
    -webkit-transition-duration: 0.3s;
    z-index: 1;
    }
    .hero-image-closed {
    margin-left: -10%;
    margin-top: -6%;
    opacity: 0.4;
    position: relative;
    width: 150%;
    z-index: 1;
    }
    .hero-image:hover {
    opacity: 1;
    transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.33, 0, 0.2, 1);
    transition-duration: 0.3s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.33, 0, 0.2, 1);
    -webkit-transition-duration: 0.3s;
    }
    .hero-description {
    background-color: #f7f7f7;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    height: 38%;
    padding: 8px;
    }
    .hero-title {
    color: #333;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    }
    .tg-ep-block .item-title, .report-video .item-title {
    color: #222;
    font-family: "ProximaNova-Regular",arial,helvetica,sans-serif;
    font-size: 24px;
    font-weight: 100;
    line-height: 26px;
    overflow: hidden;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.33, 0, 0.2, 1);
    transition-duration: 0.3s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.33, 0, 0.2, 1);
    -webkit-transition-duration: 0.3s;
    }
    .tg-ep-block .item-meta, .report-video .item-meta {
    color: #222;
    font-family: "ProximaNova-Regular",arial,helvetica,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-top: 4px;
    overflow: hidden;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.33, 0, 0.2, 1);
    transition-duration: 0.3s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.33, 0, 0.2, 1);
    -webkit-transition-duration: 0.3s;
    }
    .sma-icons {
    margin-top: -10% !important;
    width: 120% !important;
    }
    .stillshot {
    margin-left: -10%;
    max-width: 120%;
    }
    .thirds {
    width: 29% !important;
}

/* end video block hero styles */

.wistia_embed {
        height: 360px;
        margin: 0 auto 20px;
        width: 640px;
    }
.sidebar-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 10px;
    float: right;
}
.sidebar {
    border: 1px solid #bbbbbb;
    border-radius: 6px;
    float: right;
    margin-left: 15px;
    padding: 10px;
    width: 300px;
}
.sidebar p {
    font-size: 16px;
    line-height: 19px;
}
p.bullets {
    background: transparent url("//g.foolcdn.com/art/shop/newsletters/1255/arrow-green-right.png") no-repeat scroll 0 0 / 22px auto;
    padding-left: 36px;
    padding-top: 0;
}
p.one-bullet {
    background: transparent url("images/bullet-one.7c0ea80dc194.png") no-repeat scroll 0 0 / 30px auto;
    padding-left: 40px;
    padding-top: 0;
}
.redarrow {
    background: transparent url("//g.foolcdn.com/art/shop/newsletters/1502/bullet-redarrow.png") no-repeat scroll 0 0 / 28px auto !important;
    margin-bottom: 12px;
    padding-bottom: 6px;
    padding-top: 2px !important;
}

.bullets {
    height: auto;
}
.guarantee {
    font-weight: normal;
    margin-bottom: 5px;
}
div.offer-markup {
    margin-bottom: 20px;
    padding-left: 20px;
}
.fab-offer-img {
    float: right;
    margin-right: 10px;
}
.petey {
    display: block;
}
.fiftyfifty {
    display:block;
}
#credit-card input[type="radio"], #electronic-check input[type="radio"] {
    display: none;
}
.form-group {
    font-family: "ProximaNova-Regular", arial, sans-serif;
    font-size: 18px;
}

#startnow {
    background: none repeat scroll 0 0 #e7d437;
    color: #333;
    font-family: "roboto condensed", verdana, arial, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: auto;
    line-height: 30px;
    margin: 10px auto;
    max-width: 540px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.65);
    width: auto;
    }
    #startnow a {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 #fff inset, 0 0 2px rgba(0, 0, 0, 0.2);
    color: #000;
    display: block;
    padding: 10px 0;
    text-decoration: none;
}
.bt-width {
    max-width: 640px !important;
}

#submit-button {
    border-radius: 40px;
    border-style: solid;
    border-width: 1px;
    font-family: "roboto condensed",Helvetica,Arial,sans-serif;
    font-size: 34px;
    font-weight: bold;
    line-height: 38px;
    margin: 1em auto 0;
    max-width: 11em;
    padding: 15px 10px 13px;
    width: 100%;
}

.testimonial {
    background: url("//g.foolcdn.com/art/shop/newsletters/1255/blockquote-bg.png") no-repeat scroll left top transparent;
    color: #333333;
    margin: 0 auto 20px;
    padding: 22px 0 0 14px;
    width: 640px;
}

div.div-order-btn input.shop-btn {
    margin-left: 0;
}
img {
    height: auto;
    max-width: 100%;
}
#foot div.support p {

    font-size: 12px;
    line-height: 14px;
    margin-bottom: 0.6em;
    text-align: center;
}
#page-footer > p {
    color: #ffffff;
    font-size: 12px;
}
#page-footer a {
    color: #ffffff;
}

p#requiredIdentifier, .aboveButtons, .order-01 .div-order-btn {
    width: 100%;
}

.phone {
    color: #000;
    font-size: 44px !important;
    margin: 40px auto;
    text-align: center;
}

#openers-video-container, #nonopeners-video-container, #supernova-video-container, #mdp-video-container, #pro-video-container, #generic-video-container, #ma200-bullet, .ma200-bullet, #retirement-video-container, #options-video-container, #morgan-video-container, .overlay-container {
    display:none;
    }
.show-video {
    display:block !important;
    }

/* pricetable styles */

#pricetable {
    background: url("https://g.foolcdn.com/art/shop/newsletters/1502/1502-worth-bg.gif") repeat scroll 0 0 transparent;
    border: 1px solid #c6c6c7;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 1px 0 #ffffff;
    color: #333333;
    font-size: 12px;
    line-height: 8px;
    margin: 10px auto 18px;
    padding: 13px 25px 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    width: 96%;
}

.item {
    margin: 10px 0;
    position: relative;
}
.item .price {
    background-color: #ADD8EB;
    border-radius: 5px;
    float:right;
    font-size: 22px !important;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0 8px;
    position: relative;
    top: 1px;
    z-index: 0;
}
.price.total {
    background-color: #ABD376;
    text-shadow: none;
}
.price.final {
    background-color: #d31a1a;
    color: #FFFFFF !important;
    padding: 2px 8px;
    text-shadow: none;
}
.item p {
    float: left;
    margin: 0 0 16px;
}
.item:after {
    clear: both;
    content: "";
    display: block;
}

/* end pricetable styles */

/* strikethrough price expression styles */

.item {
    margin: 10px 0;
    position: relative;
}
.item .price {
    background-color: #ADD8EB;
    border-radius: 5px;
    float:right;
    font-size: 22px !important;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0 8px;
    position: relative;
    top: 1px;
    z-index: 0;
}
.price.total {
    background-color: #ABD376;
    text-shadow: none;
}
.price.final {
    background-color: #d31a1a;
    color: #FFFFFF !important;
    padding: 2px 8px;
    text-shadow: none;
}
.item p {
    float: left;
    margin: 0 0 16px;
}
.item:after {
    clear: both;
    content: "";
    display: block;
}

.offer sup {
    display: inline !important;    
}

#offers > ul {
    display: block !important;
}
.price-breakdown {
    border-bottom: 1px solid #ccc;
    color: #6d6d6d;
    font-size: 14px;
    font-family: "ProximaNova-Bold", arial, sans-serif;
    line-height: 1.5em;
    margin: 10px 0;
}
.price-line {
    font-size: 22px;
    margin: 10px 0;
    width: 250px;
}
div.offer tr.credit td, div.offer tr.credit th {
    font-family: "ProximaNova-Regular", arial, sans-serif !important;
}
.list-price {
    display: inline-block;
    float: right;
    margin-top: -2px;
    padding: 2px 4px;
    position: relative;
}
.list-price::before, .list-price::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
}
.list-price::before {
    border-bottom: 3px solid #c00;
    transform: skewY(-10deg);
    -webkit-transform: skewY(-10deg);
}
.your-price {
    color: #cc0000;
    float: right;
    margin-right: -6px;
    padding: 2px 4px;
}
.offer-markup {
    padding: 0 !important;
    margin-left: 20px;
    width: 90%;
}
.offer .details {
    margin-left: 18px;
    width: 90%;
}
#offers div.chosen {
    background-image: url("//g.foolcdn.com/art/shop/newsletters/50/check-on-lg.png");
    background-size: 30px auto;
}
@media screen and (min-width: 768px) {
    #offers div.chosen {
        background-size: 50px auto;
    }
}
.offer-arrow {
    background: transparent url("//g.foolcdn.com/art/shop/newsletters/1255/arrow-green-right.png") no-repeat scroll 0 10px / 20px auto;
    height: auto;
    margin-bottom: 6px;
    padding-left: 30px;
    padding-top: 10px;
}
.alert-red {
    background: transparent url("//g.foolcdn.com/art/shop/newsletters/1255/alert-red.png") no-repeat scroll 0 10px / 20px auto;
    height: auto;
    margin-bottom: 6px;
    padding-left: 30px;
    padding-top: 8px;
}
.net-price-credits .money-cents sup, .net-price-credits .money-decimal sup {
    color: #007928 !important;
    font-size: 14px !important;
    top: -7px;
}
.credit .money-cents sup, .credit .money-decimal sup {
    font-size: 8px !important;
    top: -4px;
}
.body-credits {
    color: #093;
}
.body-credits sup {
    display: none;
}

/* 3yr Platinum package styles */

#offer-30679.offer-1.first.chosen, #offer-30688.offer-1.first.chosen {
    background-color: #fff;
    background-image: url("images/fc-offer-bg.b6fdb307e8c5.png"), url("//g.foolcdn.com/art/shop/newsletters/50/check-on-lg.png");
    background-position: right top, 20px 20px;
    background-size: 100px auto, 50px auto;
    background-repeat: no-repeat;
    border-color: #676767;
    border-width: 4px;
}
#offer-30679.offer-1.first, #offer-30688.offer-1.first {
    background-color: transparent;
    background-image: url("images/fc-offer-bg.b6fdb307e8c5.png"), url("//g.foolcdn.com/art/shop/newsletters/shared/OP-select-Checkoff-dot-38.png");
    background-position: right top, 20px 20px;
    background-size: 100px auto, auto auto;
    background-repeat: no-repeat;
    border-color: #676767;
    border-width: 4px;
}



/* end strikethrough price expression styles */

.form-header {
    display: none;
}
/*
#viewing {
    background: url("https://g.foolcdn.com/art/shop/newsletters/1255/1255-viewing-bg2.png") no-repeat scroll -60px center rgba(0, 0, 0, 0);
    font-family: "ProximaNova-Regular",arial,sans-serif;
    font-size: 18px;
    height: 77px;
    margin-left: -32px;
    z-index: 9999;
}
#viewing-count {
    float: left;
    font-size: 46px;
    font-weight: 700;
    margin-left: 32px;
    margin-right: 10px;
    padding-top: 9px;
}
#viewing > p {
    padding-top: 16px;
    width: 300px;
}
*/


.countdown-intro {
    color: #000000 !important;
    font-family: 'roboto condensed',arial,sans-serif !important;
    font-size: 32px !important;
    font-weight: 700;
    line-height: 34px !important;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align:center;
}
#mfone-closing {
    color: #cc0000;
    font-family: 'roboto condensed',arial,sans-serif;
    font-size: 90px; 
    font-weight: 700;
    line-height: 92px;
    text-align: center;
}

#mfone-closing-sm {
    color: #cc0000;
    font-family: 'roboto condensed',arial,sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 38px;
}

fieldset#order label.productLbl {
    font-size: 28px;
}

.productPrice {
    font-size: 28px !important;
}
div.offer-inner img {
    margin-top: -16px;
}
.credits-div {
    font-family: "ProximaNova-Regular",arial,sans-serif;
}
.sum .currency {
    font-size: 22px;
    font-weight: 700;
}
table.credit-table {
    width: 100%;
}
.total-credits {
    text-align: left !important;
}
#cards-accepted {
    margin-bottom: 30px;
}
.split-button {
    display: block;
    text-align: right;
    /* background: #255af0 none repeat scroll 0 0; */
    border-radius: 4px;
    color: #fff;
    padding: 14px;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    max-width: 400px;
}
.split-button a {
    display: block;
    white-space: normal;
}
/*
.split-button:hover {
    color: #fff;
    background-color: #406ff4;
    text-decoration: none;
}
*/

/*
#offer24727 label {
    background: url("//g.foolcdn.com/art/shop/newsletters/1255/1255-fab-closingsoon50.png") no-repeat scroll 0 top transparent;
    height: 64px;
    margin-top: -25px;
    padding-top: 28px;
}
*/

.platinum {
    font-size: 32px !important;
    line-height: 34px !important;
    margin-top: 0px !important;
}

.countdown-platinum {
    width: 86%;
    margin: 0px auto 20px !important;
}
.alan {
    display: block;
    margin: 20px auto;
    width: 95%;
    }
    .alan > p {
    font-family: "roboto condensed","ProximaNova-Regular",arial,helvetica,sans-serif;
    margin-top: 30px;
    padding-top: 30px;
    }
    .alan-chart {
    float: left;
    margin-right: 10px;
    }

.benefits, .sma-advisors {
    background-color: #ffffee;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    display: block;
    margin: 30px 0 30px 40px;
    padding: 16px 10px;
    width: 90%;
    }
    .benefits > img, .sma-advisors > img {
    float: left;
    margin: -30px 0 0 -50px;
    }
    .sma-advisor-hero {
    width: 150px;
    }
    .benefits > p {
    margin-left: 160px;
    }
    .sma-advisors > p {
    margin-left: 120px;
    }
    .benefit-header {
    font-family: "roboto condensed","ProximaNova-Bold",arial,helvetica,sans-serif;
    font-size: 24px;
    font-weight: 700;
}   

.mfwm-callout {
    background-color: #f2f2f2;
    border: 2px solid #1abc9c;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
    padding: 0 20px;
}
.sma-link {
    cursor: pointer;
}

#offers label {
    font-family: "ProximaNova-Bold",Helvetica,Arial,sans-serif;
    font-size: 40px;
    font-weight: normal;
    line-height: 1.25;
    width: 95%;
}
#offers div.offer span.currency {
    font-size: 26px;
}
#offer-27490 span.currency, #offer-27491 span.currency, #offer-27492 span.currency, #offer-27493 span.currency {
    font-size: 30px !important;
    position: relative;
}



#offer-27490 span.currency::after, #offer-27491 span.currency::after, #offer-27492 span.currency::after, #offer-27493 span.currency::after {
    border-bottom: 5px solid #cc0000;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 50%;
    content: "";
}

.phonebrow {
    background-color: #f1f281;
    border-bottom: 1px solid #8e9000;
    border-top: 1px solid #8e9000;
    display: none;
    margin-bottom: 20px;
    padding: 10px 6px 0;
}
.urgent-eyebrow {
    background-color: #eee;
    border: 1px solid #c00;
    color: #c00;
    font-size: 22px;
    line-height: 26px;
    margin: 40px 0;
    padding: 10px 0;
    text-align: center;
}


.ayco-table {
    color: #333333;
    font-family: "ProximaNova-Regular",Arial,sans-serif;
    font-size: 18px;
    margin: 20px auto;
    text-align: left;
    width: 500px;
}

/* small clock 
#countdown                  { font-family: 'roboto condensed',arial,sans-serif; font-size: 14px; text-transform: uppercase; margin: 4px auto 10px; color:#000000; }
                #countdown > div            { border-right: none; display: inline-block; margin-right: 10px; padding-right: 10px; text-align: center; }
                #countdown > div:first-child { margin-left: 44px; }
                #countdown > div:last-child { margin-right: 0; padding-right: 0; border-right: 0; }
                #countdown span             { display: block; font-size: 42px; font-weight: bold; line-height: 38px; margin-bottom: 5px; color:#b00000; }

 end small clock */

/* big clock - PV 2017-12-27:  not sure why this needed to be coied from be_base.css */

#countdown  {
    font-family: 'AvenirBook', arial, helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    margin: 30px auto;
    color:#000000;
    text-align: center;
}
#countdown > div {
    border-right: 1px dashed rgba(204, 0, 0, 0.45);
    display: inline-block;
    font-family: "AvenirHeavy",arial,helvetica,sans-serif;
    margin-right: 7px;
    padding-right: 7px;
    text-align: center;
}
#countdown > div:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}
#countdown span {
    display: block;
    font-size: 36px;
    font-weight: bold;
    line-height: 38px;
    margin-bottom: 5px;
    color:#b00000;
}
@media only screen and (min-width: 480px) {
    #countdown {
        font-size: 15px;
    }
    #countdown > div {
        margin-right: 12px;
        padding-right: 12px;
    }
    #countdown span {
        font-size: 60px;
        line-height: 62px;
    }
}
@media only screen and (min-width: 900px) {
    #countdown {

    }
    #countdown > div {
        margin-right: 20px;
        padding-right: 20px;
    }
    #countdown span {
        font-size: 100px;
        line-height: 102px;
    }
}
/* end big clock */

/* ratings styles */

#one-ratings {
    height: 670px;
    overflow: auto;
}
.ratings-modal-body #one-ratings {
    height: auto;
}
.ratings {
    background: url("//g.foolcdn.com/art/shop/newsletters/1255/85percent.jpg") no-repeat scroll left center / 40% auto #fff;
    border-color: #357ebd;
    color: #333;
    display: none;
    float: right;
    line-height: 17px;
    margin-bottom: 20px;
    margin-right: 320px;
    padding: 20px 20px 20px 120px !important;
    text-align: right;
    white-space: normal;
    width: 300px;
}
.sub-ratings {
    background-color: #fff;
    border-color: #357ebd;
    color: #333;
    float: none;
    font-family: "ProximaNova-Regular",arial,helvetica,sans-serif;
    font-size: 12px;
    height: 90px;
    line-height: 15px;
    margin: 0 2px 20px;
    padding: 5px !important;
    text-align: center;
    white-space: normal;
    width: 15.8%;
    transition: background-color 0.3s ease 0s;
    -moz-transition: background-color 0.3s ease 0s;
    -webkit-transition: background-color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s;
}
.ratings-modal-body .sub-ratings {
    font-size: 12px;
    height: 120px;
    margin: 0 2px;
    padding: 5px !important;
    width: 16%;
}
.sub-ratings:hover {
    background-color:#bddfff;
    transition: background-color 0.3s ease 0s;
    -moz-transition: background-color 0.3s ease 0s;
    -webkit-transition: background-color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s;
}
.well {
    background-color: #ffffff;
    border-color: #357ebd;
    border-radius: 0;
    border-style: solid none;
    border-width: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
    margin: 0 auto 20px;
    max-width: 800px;
    min-height: 20px;
    padding: 5px;
}
.well.sub-well {
    border: medium none;
}
.sub-rating-container {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: wrap;
    -webkit-flex-flow: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.tab-pane.fade {
    display: none;
}
.tab-pane.active {
    display: block;
}
.ratings-icon {
    margin-bottom: -10px;
    vertical-align: top;
    width: 60%;
}
.rating-subject {
    border-bottom: 1px solid #ddd;
    font-family: "ProximaNova-Regular",arial,helvetica,sans-serif;
    font-size: 40px;
    font-weight: 300;
    margin-top: 0;
    padding-bottom: 20px;
    text-align: center;
}
.rating-breakdown {
    float: left;
    margin-bottom: 15px;
    padding: 20px 0 15px;
    width: 56%;
}
.rating-average {
    float: right;
    margin-bottom: 15px;
    padding: 20px 0 15px;
    text-align: center;
    width: 38%;
}
.rating-container-breakdown-outer {
    line-height: 18px;
    margin-left: 3px;
}
.rating-container-breakdown-outer .num {
    float: left;
    font-family: "ProximaNova-Regular", arial, helvetica, sans-serif;
    font-weight: 300;
    margin-right: 5px;
    margin-top: 0;
}
.rating-breakdown .rating-container-breakdown {
    height: 15px;
    overflow: hidden;
    width: 78%;
}
.rating-container-breakdown {
    background: none repeat scroll 0 0 #d8d8d8;
    float: right;
    height: 23px;
    margin-bottom: 5px;
    margin-right: 5px;
    position: relative;
    width: 94px;
}
.rating-num {
    font-weight: 700;
    right: 1%;
    position: absolute;
    line-height: 16px;
    z-index: 20;
    font-family: "ProximaNova-Regular",Arial,Helvetica,sans-serif;
    font-size: 12px;
}
.rating-breakdown .rating-bar {
    background: none repeat scroll 0 0 #0bf;
    position: absolute;
    transition: all 0.1s ease 0s;
    z-index: 15;
    height: 15px;
}
.total-responses {
    margin-bottom: 10px;
}
.rating-container-breakdown-outer {
    line-height: 18px;
}

.rating-icon-row {
    display: block;
    margin: 25px auto 10px;
}
.rating-icon {
    width: 30px;
}
.avg-number {
    font-size: 40px;
    font-family: "ProximaNova-Regular", arial, helvetica, sans-serif;
    font-weight: 300;
    line-height: 46px;
}
.response {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    color: #666;
    font-family: "ProximaNova-Regular",arial,helvetica,sans-serif;
    line-height: 22px;
    padding: 30px 6px 40px;
}
.ratings-responses > h3 {
    font-weight: 300;
}
.response-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #333;
}

/* end ratings styles */


/* comparison table */

.comparison {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 4px solid #dfdfdf;
    color: #2a2a2a;
    font-family: "ProximaNova-Regular",arial,helvetica,sans-serif;
    font-size: 18px;
    line-height: 26px;
    margin: 20px auto;
    padding: 0;
    width: 100%;
}
.comparison .row-name-col {
    width: 20%;
}
.comparison .sma-col, .robo-col, .adviser-col, .mutual-col {
    width: 20%;
}
.comparison tr th {
    background: none repeat scroll 0 0 #fff;
    border-color: #e7e7e7;
    border-image: none;
    border-style: none solid none none;
    border-width: 0 1px 0 0;
    color: #2a2a2a;
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
.comparison tr .gray {
    background: none repeat scroll 0 0 #eee;
    border-right: 4px solid #dfdfdf;
    font-size: 16px;
    line-height: 19px;
    padding: 22px 26px;
    text-align: right;
}
.comparison tr td.gray {
    background: none repeat scroll 0 0 #eee;
    border-right: 4px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    vertical-align: middle;
}
.comparison tr td {
    border-color: #e7e7e7 #e7e7e7;
    border-image: none;
    border-style: solid solid none none;
    border-width: 1px 1px 0 0;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}
.comparison img {
    height: auto;
    width: 80%;
}
.comparison tr medium {
    display: block;
    font-size: 13px;
    line-height: 17px;
    padding: 0 20px;
}
.tooltip {
    display: block;
    font-size: 14px;
    line-height: 1.4;
    opacity: 0;
    position: absolute;
    visibility: visible;
    z-index: 1030;
}
.tooltip-inner {
    background-color: #fff;
    border-radius: 4px;
    color: #333;
    max-width: 200px;
    padding: 3px 8px;
    text-align: left;
    text-decoration: none;
    border: 2px solid #aaaaaa;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #aaaaaa;
    border-width: 15px 15px 0 0;
    bottom: -10px;
    left: 73%;
    margin-left: -5px;
}
.sma-yes:hover {
    background-color: #dbf5d7;
    transition: background-color 0.3s ease 0s;
    -moz-transition: background-color 0.3s ease 0s;
    -webkit-transition: background-color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s;
}
.sma-no:hover {
    background-color: #fad7d7;
    transition: background-color 0.3s ease 0s;
    -moz-transition: background-color 0.3s ease 0s;
    -webkit-transition: background-color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s;
}

/* end comparison table */

/* exit overlay stylez */

#exitInterrupt {
    width:500px;
    height:350px;
    margin: 20px 10% !important;
    padding: 20px;
    padding-top: 10px;
    z-index: 100001;
    background-color: #FFF;
    border-radius: 4px;
    }

#exitInterrupt h2 {
    font-size: 150%;
    
    display: block;
    width: 90%;
    padding: 20px;
    padding-left: 0px;
    font-family: Arial,sans-serif;
    font-weight: bold;
}
#exitInterrupt h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 40px;
    color: #333;
}
#exitInterrupt p {
    font-size:18px;
    line-height: 21px;
    margin-bottom: 20px;
}

a#closeOverlay {
    background: url("//g.foolcdn.com/common/img/ico/close.png") no-repeat scroll left top transparent;
    height: 35px;
    overflow: hidden;
    position: absolute;
    right: 2px;
    text-align: right;
    text-indent: 999px;
    top: 5px;
    width: 35px;
    cursor: pointer;
}

a#continueButton {
    background: #480 url("https://h.foolcdn.com/tmfstatic/img/button_lightbackground.gif") repeat-x left 0px;
    border: 1px solid #24b31c;
    color:#167011;
    cursor:pointer;
    padding: 15px 100px;
    text-decoration:none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 130%;
    margin-top: 20px;
}

.center {
    text-align:center;
}

#transcriptLink {
    text-decoration: underline;
    cursor: pointer;
}

.transcriptText {
    font-size: 80% !important;
    margin-top: 20px;
}

#exitInterruptPrivacyLink {
    font-size: 10px;
    float: right;
}

#exitInterrupt h4 {
    margin-bottom: 5px;
}
    
.ow-overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background: #424242;
  opacity: 0.96;
}

.ow-closed {
  display: none;
}

.chat-overlay {
  position: fixed;
  z-index: 20;
  height: 300px;

  top: 50px;
  width: 300px;
    border:none;
    box-shadow:none;
}
    
.transcript { display: block; }
a.close { display:block; }  

input, button, select, textarea {
    border-radius: 4px;
    font-family: "ProximaNova-Regular",Arial,Helvetica,sans-serif;
    font-size: 20px;
    line-height: inherit;
    padding: 8px !important;
}


/* end overlay stylez */

/*(Hidden) login overlay*/
        div#login-div {
            top: 0;
            position:fixed;
            width: 100%;
            height: 100%;
        }
        div#login-div div#gray-out-overlay {
            background-color: gray;
            opacity: 0.75;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 10001;
        }
        div#login-div div.outer-shell {
            position:absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10002;
            opacity: 1;
            width: 300px;
            height: 380px;
            background-color: #ffffff;
            border-radius: 8px;
            border: 2px solid gray;
            padding: 20px;
        }
        div#login-div div.outer-shell div.inner-shell {
            text-align: center;
            border: 1px solid gray;
            border-radius: 3px;
            background-color: #f4f7fb;
            margin: 0;
            height: 100%;
        }
        iframe#login-iframe {
            width: 250px;
            left: 0;
            right: 0;
        }
        div#login-div div.outer-shell div.inner-shell a {
            display: block;
            margin-top: -5px;
        }
        p.bullets {
            height: auto;
        }
        /*Bootstrap overrides*/
        div#container legend {
            display:none;
        }

        #loginPrompt {
            font-family: 'ProximaNova-Regular', Arial, Helvetica, sans-serif;
            font-size: 14px;
        }
        fieldset#sign-in {
            padding: 15px 25px;
        }
        div#container #sign-out fieldset p {
            font-size: 13px;
        }
        div#container #sign-out fieldset span.emailAddress {
            font-size: 16px;
        }
        #fool-pass label {
            width: auto;
        }
        #check-image {
            padding-top: 20px;
            padding-left: 200px;
        }
        #electronicCheck-legalese p {
            font-size: 13px;
            margin: 25px;
        }


@media (max-width: 1000px) {

div#container {
    width: 90%;
}
.product-copy {
    width: 60%;
}
.countdown-platinum {
    width: 94%;
}


}

@media (max-width: 979px) {
.item p {
    width: 80%;
}
.item .price {
    display: inline;
    width: auto;
}
div.acct-div {
    width: 100%;
}
.countdown-intro {
    font-size: 32px !important;
    line-height: 26px !important;
}
#mfone-closing {
    font-size: 80px; 
    line-height: 82px;
}
}

@media (max-width: 940px) {
.phoneorder fieldset label, .order-00 fieldset label, .order-01 fieldset label, .order-02 fieldset label, .order-03 fieldset label, .order-04 fieldset label, .order-05 fieldset label, .order-06 fieldset label, .order-07 fieldset label, .order-08 fieldset label, .order-09 fieldset label, .order-10 fieldset label {
    font-size: 24px !important;
}
.productPrice {
    font-size: 24px !important;
}   
    
}

@media (max-width: 900px) {
.countdown-intro {
    font-size: 32px !important;
    line-height: 26px !important;
}
#mfone-closing {
    font-size: 70px; 
    line-height: 72px;
}   
#offer22939 .productName {
    background: url("https://g.foolcdn.com/art/shop/newsletters/1255/1255-ayco-closingsoon.png") no-repeat scroll left top transparent;
}
.countdown-platinum {
    width: 100%;
}
.ratings-modal-dialog {
    width: 90% !important;
    }
.ratings-modal-body .sub-ratings {
    font-size: 12px;
    height: 100px;
    padding: 5px !important;
    width: 15%;
}
.br-hide {
    display: none;
}
    
}

@media (max-width: 850px) {
    #offer22939 .productName {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: auto;
    margin-top: 0px;
    padding-top: 0px;
}
}

@media (max-width: 767px) {
div.formModules {
    width: 100%;
}
div#sad-panda {
    padding: 0 10px;
}
.wistia_embed {
        height: 270px !important;
        width: auto !important;
    }
.sidebar-image {
    width: 50%;
}
.stockadvisor, .rulebreakers, .insidevalue, .ruleyourretirement, .options, .mdp, .pro, .deepvalue, .specialops, .supernova, .wealthdefender, .explorer, .totalincome, .discovery2017 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
    .product-copy {
    width: 100%;
}
#startnow li#startnow-link a {
    height:auto;
    width: 80%;
}
#startnow li#startnow-link span.text {
    height: auto;
    line-height: 30px !important;
    padding: 10px 0;
}
.item .price {
    margin: 0 0 20px;
    padding: 3px 8px 3px 0;
    text-align: right;
    width:100%;
}
.item p {
    margin: 0 0 6px;
}
#check-image {
    padding-left: 0px;
}
#check-image > img {
    display: block;
    margin: 0 auto;
    width: 70% !important;
}
.player-wrapper-modal, .wistia_embed-modal {
    width:auto;
    height:270px;
    }
    .thirds {
    width: 46% !important;
}
.testimonial {
    width: 90%;
}
.ayco-table {
    width: 100%;
}
.softopen {
    font-size: 50px;
    line-height: 54px;
}

}

@media (max-width: 750px) {
    
.phoneorder fieldset label, .order-00 fieldset label, .order-01 fieldset label, .order-02 fieldset label, .order-03 fieldset label, .order-04 fieldset label, .order-05 fieldset label, .order-06 fieldset label, .order-07 fieldset label, .order-08 fieldset label, .order-09 fieldset label, .order-10 fieldset label {
    font-size: 18px !important;
}
.productPrice {
    font-size: 18px !important;
}
}

@media (max-width: 768px) {
    .runner-timer {
        display: block;
        padding-top: 12px;
        float: none;
        clear: both;
        text-align: center;
    }
    .runner-logo {
        float: none;
    }
    #page-wrapper {
        padding-top: 150px;
    }
}

@media (max-width: 650px) {
    .countdown-intro {
        font-size: 32px !important;
        line-height: 26px !important;
    }
    #mfone-closing {
        font-size: 56px;
        line-height: 58px;
    }
    
}

@media (max-width: 600px) {
.ratings-holder {
    width: 400px;
}
.sub-ratings {
    height: 130px;
    width: 32%;
}
.rating-breakdown {
    float: none;
    margin: 0 auto 15px;
    padding: 20px 0 15px;
    width: 100%;
}
.rating-average {
    float: none;
    padding: 20px 0 15px;
    text-align: center;
    width: 100%;
}
.hide-ratings-holder {
    left: -400px;
}
}

@media (max-width: 550px) {
    .countdown-intro {
        font-size: 32px !important;
        line-height: 26px !important;
    }
    #mfone-closing {
        font-size: 50px;
        line-height: 52px;
    }
}


@media (max-width: 480px) {
    div#sad-panda {
        padding: 0 10px;
    }
    .wistia_embed {
            height: 180px !important;
            width: auto !important;
        }
        h1, .ten-things {
        font-size: 42px;
        line-height: 46px;
        }
        .ae-subhead {
        font-size: 26px !important;
        line-height: 30px;
        }
        .h3 {
        font-size: 28px;
        line-height: 32px;
        }
        .sidebar-image {
        display: block;
        float: none;
        margin: 10px auto;
        width: 90%;
    }
    #pricetable {
        overflow: hidden;
        padding: 13px 5px 0;
        width: 100%;
    }

    #check-image {
        padding-left: 0px;
        width: 100%;
        }
        #check-image > img {
        width: 100% !important;
    }
    .countdown-intro {
        font-size: 32px !important;
        line-height: 26px !important;
    }
    #mfone-closing {
        font-size: 40px;
        line-height: 42px;
    }
    div.offer-inner img {
        float: none;
    }
    .player-wrapper-modal, .wistia_embed-modal {
        width:auto;
        height:180px;
        }
        .testimonial-short, .testimonial {
        height: auto;
        width: 100%;
    }
    .thirds {
        width: 100% !important;
    }
    .hero-block, a.hero-block {
        width: 100%;
    }
    .benefits, .sma-advisors {
        margin: 30px 0;
        padding: 16px;
        width: 100%;
    }
    .benefits > img, .sma-advisors >img {
        display: block;
        float: none;
        margin: -30px auto 20px;
    }
    .benefits > p, .sma-advisors > p {
        margin-left: 0;
    }
    #page-wrapper {
        padding: 160px 10px 20px;
    }
    .sma-modal-dialog {
        width: 90% !important;
    }
    .ratings-modal-body .sub-ratings {
        margin: 5px 2px;
        width: 30%;
    }
    .ratings-holder {
        width: 280px;
    }
    .hide-ratings-holder {
        left: -280px;
    }
    .sub-ratings {
        height: 90px;
        width: 31%;
    }
    .phone {
        font-size: 30px !important;
    }
    .mfwm-modal-dialog {
        width: 97% !important;
    }
    .center-image.sma-button {
        width: 100%;
    }

    .phonebrow {
        display: block;
        margin-top: 30px;
    }

    #offers label {
        font-size: 34px !important;
    }

}
