.op-header {
    background-color: #fff;
    padding-top: 10px;
}

.runner-logo {
    padding-left: 10px;
}

.inner img {
    padding-top: 5px;
    padding-bottom: 15px;
}

.runner-timer {
    padding-bottom: 10px;
}

body {
    background: none;
    background-color: #fff;
}

@media only screen and (min-width: 900px) {
    .page {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    }
}

/* align labels on order form to the left */
.control-label {
text-align: left !important;
}

#credit-card h3 {
margin-left: 0;
padding-left: 0;
}

#terms-agreement-checkbox input {
vertical-align: middle;     
}

div.control-field {
    padding: 0;
}

@media only screen and (max-width: 500px) {
    div.control-field {
        padding: 0 15px;
    }
}   

/*removes asterisk before the labels, the next one adds it to after the labels */
#order label.required:before,
#order #required-indicator:before,
.label-mimic.required:before   {
   content: none !important; 
}

#order label.required:after,
#order #required-indicator:after,
span.label-mimic.required:after   {
   content: " *";
}   
